In [1]:
import pandas as pd
import numpy as np

data = pd.Series(np.random.randn(9),
                index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                       [1, 2, 3, 1, 2, 3, 1, 2, 3]])
data

a  1    2.246388
   2   -0.207001
   3   -0.452430
b  1    0.483589
   2    2.304338
c  3   -0.068504
   1    0.353478
d  2    0.469469
   3    0.030426
dtype: float64

In [2]:
data[['a','c']]

a  1    2.246388
   2   -0.207001
   3   -0.452430
c  3   -0.068504
   1    0.353478
dtype: float64

In [3]:
data['a':'c']

a  1    2.246388
   2   -0.207001
   3   -0.452430
b  1    0.483589
   2    2.304338
c  3   -0.068504
   1    0.353478
dtype: float64

In [4]:
#堆疊資料
display(data)
data.unstack()

a  1    2.246388
   2   -0.207001
   3   -0.452430
b  1    0.483589
   2    2.304338
c  3   -0.068504
   1    0.353478
d  2    0.469469
   3    0.030426
dtype: float64

          1         2         3
a  2.246388 -0.207001 -0.452430
b  0.483589  2.304338       NaN
c  0.353478       NaN -0.068504
d       NaN  0.469469  0.030426