In [1]:
import numpy as np
#3學生,5個分數

scores=np.random.randint(50,100,size=(3,5))
scores

array([[51, 50, 65, 93, 90],
       [79, 60, 73, 90, 63],
       [83, 95, 77, 67, 62]])

In [5]:
#numpy統計
np.sum(scores[0])
np.average(scores[0])

69.8

In [6]:
scores.dtype

dtype('int64')

In [8]:
#data frame的底層就是np

import pandas as pd
df=pd.DataFrame(data=scores)
df

    0   1   2   3   4
0  51  50  65  93  90
1  79  60  73  90  63
2  83  95  77  67  62

In [9]:
import pandas as pd
df=pd.DataFrame(data=scores,index=['李秀美','Angela','Peter'])
df

         0   1   2   3   4
李秀美     51  50  65  93  90
Angela  79  60  73  90  63
Peter   83  95  77  67  62

In [10]:
import pandas as pd
df=pd.DataFrame(data=scores,columns=['國文','英文','數學','歷史','公民'],index=['李秀美','Angela','Peter'])
df

        國文  英文  數學  歷史  公民
李秀美     51  50  65  93  90
Angela  79  60  73  90  63
Peter   83  95  77  67  62