In [4]:
import pandas as pd

series1 = pd.Series([80, 90, 75, 65],index=['chinese', 'english', 'math', 'history'])
series1

chinese    80
english    90
math       75
history    65
dtype: int64

In [5]:
#取出ndArray

series1.values

array([80, 90, 75, 65])

In [6]:

#取出索引(index)
series1.index

Index(['chinese', 'english', 'math', 'history'], dtype='object')

In [7]:
series2 = series1 + 3
series2

chinese    83
english    93
math       78
history    68
dtype: int64

In [11]:
series2
series2['chinese']
#series[0]

83

In [16]:
#DataFrame是由3個有相同索引的Series所組成的
data = {
     '縣市': ['台北','台北','台北', '新竹', '新竹', '新竹'],
     '年份': [2000, 2001, 2002, 2001, 2002, 2003],
     '人口': [2.2, 2.5, 2.7, 1.1, 1.5, 2.0]
}

df1 = pd.DataFrame(data)
df1

   縣市    年份   人口
0  台北  2000  2.2
1  台北  2001  2.5
2  台北  2002  2.7
3  新竹  2001  1.1
4  新竹  2002  1.5
5  新竹  2003  2.0

In [13]:
df1['縣市']

0    台北
1    台北
2    台北
3    新竹
4    新竹
5    新竹
Name: 縣市, dtype: object

In [14]:
df1['年份']

0    2000
1    2001
2    2002
3    2001
4    2002
5    2003
Name: 年份, dtype: int64

In [15]:
df1['人口']

0    2.2
1    2.5
2    2.7
3    1.1
4    1.5
5    2.0
Name: 人口, dtype: float64

In [19]:
data1=[
    {'name':'Angela','weight':90,'height':165},
    {'name':'Claire','weight':70,'height':160},
    {'name':'Isabella','weight':30,'height':140},


]
df2=pd.DataFrame(data1)
df2

       name  weight  height
0    Angela      90     165
1    Claire      70     160
2  Isabella      30     140