In [1]:
import numpy as np
import pandas as pd

scores = np.random.randint(1000,10000,size=(50,5))
df1 = pd.DataFrame(scores,
             columns=['國文', '英文', '數學', '地理', '歷史'],
             index=range(1,51))
df1.index.name='學號'
df1.columns.name="科目"
df1

科目    國文    英文    數學    地理    歷史
學號
1   4951  8743  2784  1468  8519
2   1834  7026  9014  2428  3711
3   2446  8109  5988  1954  2413
4   8630  7011  9534  7038  4129
5   4595  7117  3428  3706  8535
6   8632  2377  8384  3678  7091
7   8959  4761  3179  3244  7286
8   8890  5643  5490  3026  9664
9   1316  5714  7625  8982  5710
10  4926  9630  3464  3510  5325
11  8818  1731  7725  3069  1528
12  7213  1461  6146  1661  4641
13  5903  5003  3786  1970  1513
14  6311  1507  1443  9916  6528
15  8659  3865  2934  3410  2060
16  6186  5319  5879  3747  9733
17  7553  5671  8851  4473  2235
18  1709  1433  5576  6140  7040
19  1812  9375  3291  2496  2343
20  7045  4482  4954  1521  8616
21  2592  2544  5003  7985  7803
22  5608  1662  7971  6366  7543
23  3781  3303  9236  5299  8937
24  2716  9907  4688  9142  1040
25  8226  9160  3388  5718  9668
26  9298  9530  7233  1361  6553
27  6995  8003  3932  1902  1962
28  2509  1451  6795  3141  7067
29  4672  2363  3106  7804  8142
30  2606  4364  5808  8916  7025
31  7002  6263  7322  2808  3957
32  2584  1054  8780  6129  2609
33  1724  9023  5705  7099  8155
34  1057  9024  4424  6566  4767
35  5720  3095  5767  1212  3017
36  5579  8405  4505  7327  4345
37  7996  4354  9907  7626  4472
38  8173  9597  5751  2497  4483
39  6828  3508  6443  4911  7194
40  4038  6318  5767  7733  7128
41  9579  8934  1104  4555  8407
42  1280  4650  1442  3557  3054
43  3022  2913  7503  3047  1016
44  2483  5952  3720  3403  7410
45  3541  3206  5271  7371  6162
46  4615  6759  2198  1968  1209
47  2261  8110  4334  8778  3732
48  9148  2158  7773  1718  3351
49  3476  5508  7943  9802  7143
50  7597  9541  5758  4582  4887

In [2]:
df1.style \
.format(thousands=",")

In [3]:
df2 = df1.style \
.highlight_max(props='color:white; font-weight:bold; background-color:darkblue') \
.highlight_min(props='color:white; font-weight:bold; background-color:darkred')
df2.to_excel('3年2班.xlsx')

In [4]:
df1.style \
.highlight_between(axis=1,color='red',left=1000,right=3000)