In [1]:
import numpy as np
import pandas as pd
np.random.randn(4,3)

array([[-0.18567412,  0.68570045,  0.86157303],
       [-0.70603206,  0.19981798, -1.12573224],
       [-0.60385054,  0.47747965, -0.47874399],
       [ 1.54068135, -0.91418808,  0.85098656]])

In [3]:
import numpy as np
import pandas as pd

df1 = pd.DataFrame(np.random.randn(4,3),
             columns=['b','d','e'],
             index=['台北','台中','台南','高雄'])
df1

           b         d         e
台北  1.106056  1.484490 -0.277786
台中 -0.677411 -0.594167 -0.323161
台南 -0.455339  0.973245  0.935038
高雄 -0.024973 -0.777212  0.335522

In [2]:
np.abs(df1)

           b         d         e
台北  1.268796  0.941368  0.254488
台中  0.789837  0.666784  0.423245
台南  1.063957  0.691717  0.342288
高雄  1.930736  0.731315  0.870606