In [1]:
import numpy as np
import pandas as pd
np.random.randn(4,3)

array([[-0.18567412,  0.68570045,  0.86157303],
       [-0.70603206,  0.19981798, -1.12573224],
       [-0.60385054,  0.47747965, -0.47874399],
       [ 1.54068135, -0.91418808,  0.85098656]])

In [ ]:
from pandas import Setries
def fun1(values:Series)->float:
    return value.max() - value.min()
df1[('b')]

In [14]:
import numpy as np
import pandas as pd

df1 = pd.DataFrame(np.random.randn(4,3),
             columns=['b','d','e'],
             index=['台北','台中','台南','高雄'])
df1

           b         d         e
台北  0.512301 -0.862649 -0.804107
台中  1.215621  0.988039 -0.687028
台南  0.254532 -0.056662  0.398064
高雄  0.665227  0.809908 -1.367494

In [15]:
#numpy的function
np.abs(df1)

           b         d         e
台北  0.512301  0.862649  0.804107
台中  1.215621  0.988039  0.687028
台南  0.254532  0.056662  0.398064
高雄  0.665227  0.809908  1.367494

In [16]:
#使用實體方法
df1.abs()

           b         d         e
台北  0.512301  0.862649  0.804107
台中  1.215621  0.988039  0.687028
台南  0.254532  0.056662  0.398064
高雄  0.665227  0.809908  1.367494

In [17]:
from pandas import Series
def fun1(value:Series) -> float:
    return value.max() - value.min()
    
df1[['b']].apply(fun1)

b    0.961089
dtype: float64

In [18]:
df1.apply(fun1)

b    0.961089
d    1.850688
e    1.765559
dtype: float64

In [19]:
df1.apply(fun1,axis=1)

台北    1.374950
台中    1.902649
台南    0.454727
高雄    2.177402
dtype: float64

In [20]:
df1

           b         d         e
台北  0.512301 -0.862649 -0.804107
台中  1.215621  0.988039 -0.687028
台南  0.254532 -0.056662  0.398064
高雄  0.665227  0.809908 -1.367494

In [21]:
def fun2(value:Series)->Series:
    return pd.Series(value.max(),index=['最大','最小'])
df1.apply(fun2)

           b         d         e
最大  1.215621  0.988039  0.398064
最小  1.215621  0.988039  0.398064

In [22]:
df1.apply(fun2,axis=1) #統計動作，成為一個新dataframe

          最大        最小
台北  0.512301  0.512301
台中  1.215621  1.215621
台南  0.398064  0.398064
高雄  0.809908  0.809908