In [4]:
codes = {"tw":"Taiwan",
"jp":"Japan",
"hk":"Hong Kong"}
codes

{'tw': 'Taiwan', 'jp': 'Japan', 'hk': 'Hong Kong'}

In [6]:
#subscript
codes['jp']

'Japan'

In [3]:
codes["us"] = "美國"
codes

{'tw': 'Taiwan', 'jp': 'Japan', 'hk': 'Hong Kong', 'us': '美國'}

In [8]:
for key in codes:
    print(key)
    print(codes[key])
    print("=======")

tw
Taiwan
=======
jp
Japan
=======
hk
Hong Kong
=======

In [11]:
"ln" in codes

False

In [12]:
for key in codes.keys():
    print(key)

tw
jp
hk

In [13]:
for value in codes.values():
    print(value)

Taiwan
Japan
Hong Kong

In [16]:

for key,value in codes.items():
    print(key)
    print(value)
    print("=========")

tw
Taiwan
=========
jp
Japan
=========
hk
Hong Kong
=========